*{
    font-family: "Montserrat", sans-serif;
    margin:0;
    padding:0;
    box-sizing:border-box;
}

header{
    margin: 44px 0 76px 76px
}

.link-header{
    font-weight: 600;
    font-size: 24px;
    line-height:29px;
    color: #989D9C;
    cursor:pointer;
    margin-right: 23px;
    text-transform: uppercase;
}

.testo{

    font-weight:400;
    font-size: 30px;
    line-height:29px;
    color:#848484;
    width: 950px;
    text-align: justify;
 
    
}


section{
    
    margin-left: 86px;
    margin-bottom: 100px;
    
    
}

 
  h1{
        font-weight:900;
        font-size: 50px;
        line-height:122px;
        color:#A57839;
        text-align: left;
        
  }
  h2{
        font-weight:700;
        width:950px;
        font-size: 25px;
        line-height:29px;
        color:#515151;
        margin-bottom: 25px;
        text-align: justify;
}

 footer{
        margin: 86px;
    } 

    h6{
        font-weight:400;
        font-size: 24px;
        line-height:29px;
        color:#515151;
    }
    
@media screen and (max-width: 800px) {
        
 section{
        margin-left: 20px;
        margin-bottom: 50px;
 }
   
    header{
        float: none;
        display: block;
        text-align: center;
        margin: 10px 90px 10px 90px;
    }


   
    h1{
        font-size: 30px;
        line-height: 48px;
        text-align: center;
    }

    h2{
        font-size: 26px;
        line-height: 40px;
        text-align: left;
        width: 300px;
    }

    .testo{
        width: 300px;
        text-align: left;
        font-size: 22px;
        line-height: 22px;
 } 
 
  .social-logo{
        width: 30px;
        height: 30px;
        margin: 20px 25px;
    }

    footer{
        width: 100%;
        height: 50%;
        padding: 0;
        display: block;
        margin : 0 auto;
          
  }
     h6{
        font-size: 16px;
        line-height: 20px;
        width: auto;
        margin: 10px 90px 10px 28px;
        text-align: left;
    }
}   