*{
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header { 
    margin: 44px 50px 50px 50px }

   .link-header { 
    font-weight: 600; 
    font-size: 24px;
    margin-right: 24px;
    line-height: 1.2; 
    color: #989D9C; 
    cursor: pointer; 
    text-transform: uppercase; 
    text-decoration: none; 
    outline: none; 
} 

.img-logo{
    width:568;
    height:500;
    display: inline-block;
}

 section{
        display: inline-block;
        margin-left: 86px;
    }
    
    h1{
        font-weight:900;
        font-size: 100px;
        line-height:122px;
        color:#A57839;
    }

     h2{
        font-weight:500;
        font-size: 58px;
        line-height:71px;
        color:#515151;
        }

    p{
        font-weight:400;
        font-size: 24px;
        line-height:29px;
        color:#848484;
        width:515px;
        margin-top: 32px;
        margin-bottom: 65px ;
 }
 
    footer{
        margin: 86px;
    } 

    h6{
        font-weight:400;
        font-size: 24px;
        line-height:29px;
        color:#515151;
    }
 @media screen and (max-width: 800px) {
        
    
     .left{
        width: 100%;
        height: 50%;
        padding: 0;
        display: block;
        margin : 0 auto;
          
  }

    .right{
        
        width: 100%;
        height: 50%;
        padding: 0;
        display: block;
        margin : 0 auto;
        
    }

    header{
        float: none;
        display: block;
        text-align: center;
        margin: 10px 70px 10px 70px;
    }

    img{
    
        max-width: 100%;
        height: auto;
        width: 80%;
        display: block;
        margin: 10px 50px 10px 50px;
        
    }

   
    h1{
        font-size: 36px;
        line-height: 52px;
        width: 240px;
        margin: 10px 90px 10px 50px;
        text-align: center;
    }

    h2{
        font-size: 36px;
        line-height: 52px;
        width: auto;
        margin: 10px 30px 10px 30px;
        text-align: center;
    }

    p{
        margin-top: 15px;
        margin: 10px 30px;
        width: 320px;
        text-align: left;
        font-size: 14px;
        line-height: 24px;
    }
    .social-logo{
        width: 30px;
        height: 30px;
        margin: 20px 25px;
    }

    footer{
        width: 100%;
        height: 50%;
        padding: 0;
        display: block;
        margin : 0 auto;
          
  }
     h6{
        font-size: 16px;
        line-height: 20px;
        width: auto;
        margin: 10px 90px 10px 28px;
        text-align: left;
    }
 }
